body
{
    padding-top: 60px;
}

.locale_change li
{
    float: left;
    padding-left: 10px;
    list-style: none;
}

.left-sidebar ul li
{
    list-style: none;
    margin-left: -35px;
}

.myCat
{
    float: left;
}

.myTags
{
    float: right;
}
.article-footer
{
    margin-top: 15px;
}
.article-header
{
    margin-bottom: 15px;
}
.article-body img
{
    width: 60px;
    float: left;
    margin-right: 5px;

}
