<div class="left-sidebar">
    <ul>
        {% for item in guests %}
            <li><a href="{{ path('guest_showInfo', {'slug': item.slug}) }}">{{ item.nameGuest }}</a></li>
        {% endfor %}
    </ul>
</div>