<div class="left-sidebar">
    <ul>
        {% for item in blogs %}
            <li  class="list-group-item">

                <a href="{{ path('blog_showInfo', {'slug': item.slug}) }}">
                    {{ item.title }}
                </a>
                <span class="badge">{{ item.rating|rating(item.numberOfVoters) }}</span>
            </li>
        {% endfor %}
    </ul>
</div>