{% extends 'EtheriqBlogBundle::base.html.twig' %}

    {% block title %}
        About
    {% endblock title %}

     {% block wraper %}

         {% block breadcrumb %}

             <ol class="breadcrumb">
                 <li><a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a></li>
                 <li class="active">{{ 'About me'|trans }}</li>
             </ol>

         {% endblock breadcrumb %}

         <p> ABOUT </p>

     {% endblock wraper %}