{% extends 'EtheriqBlogBundle::base.html.twig' %}

    {% block title %}
        Page not found
    {% endblock title %}

     {% block wraper %}

        <div class="well">
            <p>Страница {{ pageNumber }} не найдена.</p>
        </div>
     {% endblock wraper %}